= content_tag_for(:tr, poll, 'data-id' => poll.id)
%tr
  %th.bold_name{scope: 'row'}= poll.name
  %td
    = link_to 'Delete', poll, method: :delete, remote: true,
      data: { confirm: 'Are you sure?' }, class: 'delete_row'
