.row
  .col-md-7.col-md-offset-2
    .panel.panel-default
      .panel-heading
        Polls

      %table.table.table-hover
        %thead
          %tr
            %th{scope: "col"} Name
            %th{scope: "col"} Actions
        %tbody#polls
          = render 'index'

.row
  .modal.fade#poll-modal(tabindex="-1" aria-labelledby="myModalLabel"
    aria-hidden="true")
