$('ul.errors').html('')
- if @survey.errors.any?
  - @survey.errors.full_messages.each do |message|
    $('ul.errors').append($('<li>').html("#{message.html_safe}"))

- else
  $('#survey-modal').modal('hide')
  $("#cbp-ntaccordion").html("#{ j render @surveys }")
  $('#cbp-ntaccordion').cbpNTAccordion()
