.row
  .col-md-7.col-md-offset-2
    %ul.cbp-ntaccordion#cbp-ntaccordion#surveys
      = render 'index'

.row
  .modal.fade#survey-modal(tabindex="-1" aria-labelledby="myModalLabel"
    aria-hidden="true")
