/*
 *= require_self
 *= require font-awesome
 *= require component
 *= require layout
 *= require modal
 */

$btn-default-bg: #5CB85C;
$btn-default-color: white;
$panel-default-heading-bg: #5CB85C;
$font-size-h1: 2em;

@import 'bootstrap';
