#site-header {
  background-color: black;
  color: #C0C0C0;

  #header-title {
    display: flex;

    h1 {
      margin: auto;
    }
  }

  #header-button {
    display: flex;

    button {
      @include span-columns(2 of 4);
      height: 75%;
      margin: auto;
    }
  }
}
