html, body { 
  height: 100%;
}

.container {
  @include outer-container;
  height: 100%;
}

#site-header {
  @include outer-container;
  height: 20%;
}

#site-content {
  @include outer-container;
  height: 60%;
}

#site-footer {
  @include outer-container;
  height: 20%;
}
