html, body { 
  height: 100%;
}

.container {
  @include outer-container;
  height: 100%;
}

#site-header {
  @include outer-container;
  height: 10%;

  #header-title {
    @include span-columns(6);
    height: 100%;
  }

  #header-button {
    @include span-columns(4);
    @include shift(1);
    height: 100%;
  }
}

#site-content {
  @include outer-container;
  height: 80%;
}

#site-footer {
  @include outer-container;
  height: 10%;
}
